<div class="row justify-content-md-center">



  <div class="col-8 mx-auto">
    <div class="container-fluid">
      <br /><br />
      <ul class="list-unstyled multi-steps">
        <li class="is-active">Personal Data</li>
        <li>Record Video</li>
        <li>Validate</li>
        <li>Finish</li>
      </ul>
    </div>
  </div>

</div>

<div class="row justify-content-md-center">
  <div class="col-3 mx-auto my-auto">
    <button type="button" class="btn btn-primary">Prev</button>
  </div>
  <div class="col-3 mx-auto my-auto">
    <button type="button" class="btn btn-primary" (click)="goToNextStep()">Next</button>
  </div>



</div>


<p> First Step </p>
