<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Progress bar -->
<div class="row justify-content-md-center">
  <div class="col-12 mx-auto">
    <div class="container-fluid">
      <br /><br />
      <ul class="list-unstyled multi-steps">
        <li class="is-active">Personal Data</li>
        <li>Record Video</li>
        <li>Validate</li>
        <li>Finish</li>
      </ul>
    </div>
  </div>
</div>

<!-- Steps buttons -->
<div class="row justify-content-md-center">
  <div class="col-3 mx-auto my-auto">
    <button type="button" class="btn btn-primary" style="display:none;">Previous</button>
  </div>
  <div class="col-0.5 mx-auto my-auto">
    <button type="button" class="btn btn-primary"  (click)="goToNextStep()">Next</button>
  </div>
</div>


<div class="container">
    <div class="row mt-3">
      <div class="col-12">
      <div class="main-login main-center">
        <h5> Sign up for Student</h5>
        <form class="" method="post" action="#">

          <div class="form-group">
            <label for="name" class="control-label">Your Name</label>
            <div class="input-group" id="name">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="string" [(ngModel)]="this.student.name" class="form-control" name="name" />
            </div>
          </div>

         <div class="row">
           <div class="col-sm-4">
              <label class="my-1 mr-2" for="documentType">Document Type</label>
              <select class="custom-select my-1 mr-sm-2" [(ngModel)]="this.student.documentType" name="documentType" id="documentType">
                 <option selected>Choose...</option>
                 <option value="C.C.">C.C.</option>
                 <option value="C.E.">C.E.</option>
             </select>
            </div>
            <div class="col-sm-8">
             <label for="document" class="cols-sm-2 control-label">Document Number</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="number" [(ngModel)]="this.student.documentNumber" class="form-control" name="document" id="document" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <div class="input-group">
                <input type="email"  [(ngModel)]="this.student.email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
         </div>

          <div class="form-group">
            <label for="date" class="control-label">Birthdate</label>
            <div>
              <input type="date" [(ngModel)]="this.student.birthdate" name="date" id="date">
            </div>
          </div>

          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Praxis Type</label>
          <select class="custom-select my-1 mr-sm-2" [(ngModel)]="this.student.typeOfPraxis" name="PraxisType" id="typeOfPraxis">
             <option selected>Choose...</option>
             <option value="Practice">Practice</option>
             <option value="First Employment">First Employment</option>
             <option value="Learning purpouses">Learning purposes</option>
          </select>

          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <div class="input-group" id="password">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" [(ngModel)]="this.student.password" class="form-control" name="password"/>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm" class="control-label">Confirm Password</label>
            <div class="input-group" id="confirm">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" [(ngModel)]="this.verificationPass" class="form-control" name="confirm"/>
            </div>
          </div>

          <label class="my-1 mr-2" for="university">University</label>
          <select class="custom-select my-1 mr-sm-2" [(ngModel)]="this.student.university" name="university" id="university">
            <option selected>Please choose an university...</option>
            <option value="UNal">Universidad Nacional de Colombia</option>
          </select>

          <div class="form-group">
            <label for="semester" class="control-label">Semester</label>
              <div class="input-group" id="semester">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="semester" [(ngModel)]="this.student.semester" class="form-control" name="semester" />
            </div>
          </div>

          <div class="form-group">
            <label for="biography">Soft description</label>
            <textarea class="form-control rounded-0" [(ngModel)]="this.student.biography" name="biography" id="biography" rows="3"></textarea>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
