<div class="row justify-content-md-center">

  <div class="col-12 mx-auto">
    <div class="container-fluid">
      <br /><br />
      <ul class="list-unstyled multi-steps">
        <li>Personal Data</li>
        <li>Record Video</li>
        <li class="is-active">Validate</li>
        <li>Finish</li>
      </ul>
    </div>
  </div>

</div>


<div class="row justify-content-md-center">
  <div class="col-3 mx-auto my-auto">
    <button type="button" class="btn btn-primary" (click)="goToPrevStep()">Prev</button>
  </div>
  <div class="col-0.5 mx-auto my-auto">
    <button type="button" class="btn btn-primary" (click)="goToNextStep()">Next</button>
  </div>
</div>


<p> Third Step Validate data</p>
