<!-- Progress bar -->
<div class="row justify-content-md-center">
  <div class="col-12 mx-auto">
    <div class="container-fluid">
      <br /><br />
      <ul class="list-unstyled multi-steps">
        <li>Personal Data</li>
        <li>Record Video</li>
        <li>Validate</li>
        <li class="is-active">Finish</li>
      </ul>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-3 mx-auto my-auto">
    <button type="button" class="btn btn-primary" (click)="goToPrevStep()">Previous</button>
  </div>
  <div class="col-0.5 mx-auto my-auto">
    <button type="button" class="btn btn-primary" (click)="goToNextStep()">Finish</button>
  </div>
</div>

             <div class="row">
                          <div class="col-md-4 mx-auto mt-5 finishsignup">
                               <h4> Thanks you for your time, we will send an email for the course :) </h4>
                               <br>
                               <br>
                               <img src="assets/img/cat.gif" alt="Smiley face" height="500" width="500">
                         </div>
             </div>
