<div class="row">
             <div class="col-md-4 mx-auto mt-5 login-form-1">
                 <h3>Login</h3>
                 <form>
                     <div class="form-group">
                         <input type="text" class="form-control" placeholder="Type your email " value="" />
                     </div>
                     <div class="form-group">
                         <input type="password" class="form-control" placeholder="Type your password " value="" />
                     </div>
                     <div class="form-group text-center">
                         <input type="submit" class="btnSubmit" value="Submit" />
                     </div>
                 </form>
            </div>
</div>
