<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="row justify-content-md-center" xmlns="http://www.w3.org/1999/html">
  <div class="col-12 mx-auto">
    <h1>PRAXIS Sessions Evaluation</h1>
    <div class="container-fluid">
      <form class="was-validated">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Select session's date.</span>
          </div>
          <input type="date" class="form-control" id="date" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
        </div>

        <h5>Select tutor's name</h5>
        <select class="custom-select custom-select-lg mb-3" required>
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <h5>Select session type:</h5>
        <div class="custom-control custom-radio">
          <input type="radio" id="virtual" name="sessionType" class="custom-control-input" required>
          <label class="custom-control-label" for="virtual"><b>Virtual</b></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="face-to-face" name="sessionType" class="custom-control-input" required>
          <label class="custom-control-label" for="face-to-face"><b>Face-to-face</b></label>
        </div>

        <h5>Session quality</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Deficient</th>
            <th scope="col">Good</th>
            <th scope="col">Excellent</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Session content</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient1T1" name="sessionContent" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient1T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good1T1" name="sessionContent" class="custom-control-input" required>
                <label class="custom-control-label" for="good1T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent1T1" name="sessionContent" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent1T1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Session time</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient2T1" name="sessionTime" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient2T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good2T1" name="sessionTime" class="custom-control-input" required>
                <label class="custom-control-label" for="good2T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent2T1" name="sessionTime" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent2T1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Session material</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient3T1" name="sessionMaterial" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient3T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good3T1" name="sessionMaterial" class="custom-control-input" required>
                <label class="custom-control-label" for="good3T1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent3T1" name="sessionMaterial" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent3T1"></label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <h5>Tutor evaluation</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Deficient</th>
            <th scope="col">Good</th>
            <th scope="col">Excellent</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Knowledge of the subject</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient1" name="knowledge" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good1" name="knowledge" class="custom-control-input" required>
                <label class="custom-control-label" for="good1"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent1" name="knowledge" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Ability to transmit knowledge</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient2" name="ability" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient2"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good2" name="ability" class="custom-control-input" required>
                <label class="custom-control-label" for="good2"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent2" name="ability" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent2"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Was the session dynamic?</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient3" name="dynamicSession" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient3"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good3" name="dynamicSession" class="custom-control-input" required>
                <label class="custom-control-label" for="good3"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent3" name="dynamicSession" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent3"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Did the tutor solve your doubts?</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient4" name="solveDoubts" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient4"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good4" name="solveDoubts" class="custom-control-input" required>
                <label class="custom-control-label" for="good4"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent4" name="solveDoubts" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent4"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Was the language and tone of voice appropriate?</th>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="deficient5" name="languageAndVoice" class="custom-control-input" required>
                <label class="custom-control-label" for="deficient5"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="good5" name="languageAndVoice" class="custom-control-input" required>
                <label class="custom-control-label" for="good5"></label>
              </div>
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" id="excellent5" name="languageAndVoice" class="custom-control-input" required>
                <label class="custom-control-label" for="excellent5"></label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <h5>In general, the session was...</h5>
        <div class="custom-control custom-radio">
          <input type="radio" id="satisfactory" name="sessionWas" class="custom-control-input" required>
          <label class="custom-control-label" for="satisfactory"><b>Satisfactory</b></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="unsatisfactory" name="sessionWas" class="custom-control-input" required>
          <label class="custom-control-label" for="unsatisfactory"><b>Unsatisfactory</b></label>
        </div>

        <h5>Observations and suggestions.</h5>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
          <label>
            <textarea class="form-control" aria-label="With textarea" required></textarea>
          </label>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>

      </form>
    </div>
  </div>
</div>
