.container-fluid {
  box-sizing: border-box;
  max-width: 50%;
  position: center;
}
h1 {
  text-align: center;
}
h5, button {
  margin-top: 50px;
}
div span, #date {
  margin: 50px 0 20px 0;
}
label select, textarea {
  width: 400%;
}
#date {
  max-width: 150px;
}
table {
  max-width: 800px;
}


@media (max-width: 800px) {
  .container-fluid {
    max-width: 90%;
  }
  div span {
    margin: 50px 0 0 0;
    width: 160px;
  }
  label select, textarea {
    width: 250%;
  }
  #date {
    min-width: 160px;
  }
  table{
    max-width: 90%;
  }

  @media (max-width: 404px) {
    label select, textarea {
      width: 150%;
    }
    div #date {
      min-width: 160px;
      margin: 0 0 20px 0;
    }
  }
}
